<div *ngIf="!peliculas">
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" alt="">
</div>

<div *ngIf="peliculas?.length === 0">
    <p>No hay péliculas que mostrar</p>
</div>

<ng-container *ngIf="peliculas && peliculas.length > 0">
    <div *ngFor="let pelicula of peliculas; let index = index" class="pelicula-contenedor">
        <div>
          Pelicula {{index}} : {{pelicula.titulo}}
          <button style="margin-left:1rem;" (click)="remover(index)">Remover</button>
        </div>
        <div>
            {{pelicula.fechaLanzamiento | date : "yyyy-MMMM-dd"}}
        </div>
        <div>
            {{pelicula.precio | currency}}
        </div>
    </div>
</ng-container>